<!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Cadê Meu FoodTruck</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>                                                
            </ul>
        </div>
    </div>
</nav>

<!-- Fim Navigation -->

<div class="container main-container">
    <h1 class="jumbotron-heading">Quero comida!</h1>
    <p class="lead text-muted">Veja o que há perto de você</p>
    <img class="img-responsive" src="assets/truck.jpg" alt="truck">
    <p>
      <a href="#" class="btn btn-primary meu-botao">Buscar agora</a>
      <a href="#" class="btn btn-secondary meu-botao">Quero cadastrar meu Truck</a>
    </p>
</div>

<footer class="bg-dark fixed-bottom footer">
    <div>
        <p style="padding-top: 10px;" class="text-white">Cadê Meu FoodTruck - 2020</p>
    </div>
</footer>